<!doctype html>
<html>
  <head>
    <title> 6.170 Network Stickies </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="Author" content="Dina Betser, dbetser@mit.edu">
    <link rel="stylesheet" type="text/css" href="static/stickies.css">
  </head>
  <body>
    <div id="header">
      {% if current_user.is_authenticated() %}
        Welcome, {{ current_user.name }} | <a href="{{ url_for('logout') }}">log out</a>
      {% else %}
        You are not logged in | <a href="{{ url_for('login') }}">log in</a>
      {% endif %}
      {% for message in get_flashed_messages() %}
        <div class=flash>{{ message }}</div>
      {% endfor %}
    </div>
    <div id="content">{% block content %}{% endblock %}</div>
  </body>
</html>