<!doctype html>
<html>
  <head>
    <title> 6.170 Network Stickies </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="Author" content="Dina Betser, dbetser@mit.edu">
    <link rel="stylesheet" type="text/css" href="static/stickies.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js">
	</script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js">
	</script>
	<script src="static/stickies.js"></script>
  </head>
  <body>
    <div id="header">
      {% if session.logged_in%}
        Welcome, {{ session.username }}! | <a href="{{ url_for('logout') }}">log out</a>
      {% else %}
        You are not logged in | <a href="{{ url_for('login') }}">log in</a>
        | <a href="{{ url_for('register') }}">register</a>
      {% endif %}
      {% for message in get_flashed_messages() %}
        <div class=flash>{{ message }}</div>
      {% endfor %}
    </div>
    <div id="content">{% block content %}{% endblock %}</div>
  </body>
</html>